<h1 >{{title}}</h1>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" routerLink="/things" routerLinkActive="active">Things</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/cars" [routerLinkActive]="['active']" >Cars</a>
  </li>
</ul>
<router-outlet></router-outlet>
