<h2>Cars</h2>
<div class="container">
    <div class="row">
        <div class="col-6">
<form  class="form" [formGroup]="carForm" (ngSubmit)="submitCar(carForm.value)">
    <div class="form-group">
        <label for="make">Make: 
            <input id="make" type="text" formControlName="make"
                placeholder="Enter car make" required
                class="form-control">
        </label>
    </div>
    <div class="form-group">
        <label for="model">Model: 
            <input id="model" type="text" formControlName="model"
                placeholder="Enter car model" required
                class="form-control">
        </label>
    </div>
    <div class="form-group">
        <label for="year">Year: 
            <input id="year" type="number" formControlName="year"
                placeholder="Enter car year" required
                class="form-control">
        </label>
    </div>
    <div class="form-group">
        <label for="mileage">Mileage: 
            <input id="mileage" type="number" formControlName="mileage"
                placeholder="Enter car mileage" required
                class="form-control">
        </label>
    </div>
    <button class="btn btn-primary" type="submit">Add Car</button>
</form>
</div>
<div class="col-6">
<table class="table table-striped table-light">
    <thead>
        <th>Make</th>
        <th>Model</th>
        <th>Year</th>
        <th>Mileage</th>
        <th>Delete</th>
    </thead>
    <tbody>
        <tr *ngFor="let car of cars$ | async">
            <td>{{car.make}}</td>
            <td>{{car.model}}</td>
            <td>{{car.year}}</td>
            <td>{{car.mileage}}</td>
            <td><button 
                class="btn btn-danger btn-block"
                (click)="deleteCar(car)">&times;</button></td>
        </tr>
    </tbody>
</table>
</div>
</div>
</div>